<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transformadas de Laplace</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="/css/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.2/math.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="js/calcu_transformadas.js" defer></script>
  <script src="js/botones.js" defer></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark-transparent">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                <a class="nav-link" href="EnfriamientoDeN.html">Enfriamiento de Newton</a>
                <a class="nav-link" href="Transformadas.html">Transformadas</a>
                
            </div>
        </div>
    </div>
  </nav>

  <!-- Contenido principal -->
  <div class="container">
    <div>
        <div class="titulo">
            <h1>Calculadora de Transformadas de Laplace</h1>
        </div>
        <div>
            <label for="funcion">Ingrese la función f(t): </label>
            <input type="text" id="funcion" placeholder="e.g., t**2 * exp(-t)" oninput="actualizarVistaPrevia()">
            <div class="botones">
              <button onclick="insertarTexto('sin(kt)')">sen k(t)</button>
              <button onclick="insertarTexto('sinh(kt)')">senh k(t)</button>
              <button onclick="insertarTexto('e^{at}cosh(kt)')">e^{at}cosh(kt)</button>
              <button onclick="insertarTexto('t^n')">t^n</button>
              <button onclick="insertarTexto('(e^{at} - e^{bt})/(a-b)')">(e^{at} - e^{bt})/(a-b)</button>
                <button onclick="calcularLaplace()">Calcular</button>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="contenedor_entrada" id="vistaPrevia"></div>
        <div class="contenedor_igual_valor"></div>
        <div class="contenedor_salida" id="resultado"></div>
    </div>
  </div>

  <!-- Script de Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Script para letras aleatorias -->
  <script src="js/estrellas.js"></script>

</body>
</html>
