{% extends "layout.html" %}

{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<div class="container shadow-none p-5 mb-5 bg-body-tertiary rounded" style="box-shadow: 0 0 20px 10px #ffffffee; background-color: rgba(255, 250, 250, 0.979);">
    <div class="img-thumbnail">
        <img src="{{ url_for('static', filename='image/laplace.jpg') }}" class="img-fluid">
        <p class="fs-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <button class="btn btn-primary mb-3" onclick="toggleTable()">Mostrar/Ocultar Tabla</button>
    <div id="laplaceTable" class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">f(t)</th>
                    <th scope="col">F(s)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1</td>
                    <td>\(\frac{1}{s}\)</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>t</td>
                    <td>\(\frac{1}{s^2}\)</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>t²</td>
                    <td>\(\frac{2}{s^3}\)</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>t<sup>α</sup></td>
                    <td>\(\frac{\Gamma(\alpha + 1)}{s^{\alpha+1}}, \alpha > -1\)</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>e<sup>at</sup></td>
                    <td>\(\frac{1}{s - a}\)</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>sin(kt)</td>
                    <td>\(\frac{k}{s^2 + k^2}\)</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>cos(kt)</td>
                    <td>\(\frac{s}{s^2 + k^2}\)</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>sinh(kt)</td>
                    <td>\(\frac{k}{s^2 - k^2}\)</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>cosh(kt)</td>
                    <td>\(\frac{s}{s^2 - k^2}\)</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>e<sup>at</sup>sin(kt)</td>
                    <td>\(\frac{k}{(s - a)^2 + k^2}\)</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>e<sup>at</sup>cos(kt)</td>
                    <td>\(\frac{s - a}{(s - a)^2 + k^2}\)</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>t<sup>n</sup></td>
                    <td>\(\frac{n!}{s^{n+1}}, n\) is a positive integer</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>u(t)</td>
                    <td>\(\frac{1}{s}\)</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>u(t)f(t - c)</td>
                    <td>\(e^{-cs}F(s)\)</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>f(ct)</td>
                    <td>\(\frac{1}{c} \cdot F\left(\frac{s}{c}\right)\)</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>\(\int_{0}^{t} f(\tau)g(t - \tau)d\tau\)</td>
                    <td>\(F(s)G(s)\)</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>δ(t - c)</td>
                    <td>\(e^{-cs}\)</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>f<sup>(n)</sup>(t)</td>
                    <td>\(s^nF(s) - s^{n-1}f(0) - \ldots - f^{(n-1)}(0)\)</td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>\((-t)^n \cdot f(t)\)</td>
                    <td>\(F^{(n)}(s)\)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container shadow-none p-5 mb-5 bg-body-tertiary rounded" style="box-shadow: 0 0 20px 10px #ffffffee; background-color: rgba(255, 250, 250, 0.979);">
        <div class="titulo">
            <h1>Calculadora de Transformadas de Laplace</h1>
        </div>
        <div class="container text-center">
            <label for="funcion">Seleccione la función f(t) que quiere calcular: </label>
            <div class="botones">
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputsenK()">\( \sin(kt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputsenKt()">\( \sinh(kt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputsEAtCoshKt()">\( e^{at}\cosh(kt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputstN()">\( t^n \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputsEAtMinusEBt()">\( \frac{e^{at} - e^{bt}}{a-b} \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputsEBtsinhAt()">\( e^{-bt}\sinh(at) \)</button>
            </div>
            <div class="container text-center" id="inputContainer"></div>
        </div>        
        <div class="flex-container p-3 m-5">
            <div class="contenedor_entrada" id="vistaPrevia"></div>
            <div class="contenedor_igual_valor"></div>
            <div class="contenedor_salida" id="resultado"></div>
        </div>
    </div>
</div>

<script>
    function toggleTable() {
        var x = document.getElementById("laplaceTable");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function crearInputsenK() {
        var inputContainer = document.getElementById("inputContainer");
        inputContainer.innerHTML = '<label for="valorK">Ingrese el valor de k:</label><input type="number" id="valorK" name="valorK" class="form-control" required oninput="actualizarVistaPrevia(\'sin(kt)\')"><button type="button" class="btn btn-primary mt-2" onclick="calcularSenK()">Calcular</button>';
    }

    function crearInputsenKt() {
        var inputContainer = document.getElementById("inputContainer");
        inputContainer.innerHTML = '<label for="valorK">Ingrese el valor de k:</label><input type="number" id="valorsenKt" name="valorK" class="form-control" required oninput="actualizarVistaPrevia(\'sinh(kt)\')"><button type="button" class="btn btn-primary mt-2" onclick="calcularSenKt()">Calcular</button>';
    }

    function crearInputsEAtCoshKt() {
        var inputContainer = document.getElementById("inputContainer");
        inputContainer.innerHTML = '<label for="valorA">Ingrese el valor de a:</label><input type="number" id="valorA" name="valorA" class="form-control" required oninput="actualizarVistaPrevia(\'e^{at}cosh(kt)\')"><label for="valorK">Ingrese el valor de k:</label><input type="number" id="valorK" name="valorK" class="form-control" required oninput="actualizarVistaPrevia(\'e^{at}cosh(kt)\')"><button type="button" class="btn btn-primary mt-2" onclick="calcularEAtCoshKt()">Calcular</button>';
    }

    function crearInputstN() {
        var inputContainer = document.getElementById("inputContainer");
        inputContainer.innerHTML = '<label for="valorN">Ingrese el valor de n:</label><input type="number" id="valorN" name="valorN" class="form-control" required oninput="actualizarVistaPrevia(\'t^n\')"><button type="button" class="btn btn-primary mt-2" onclick="calcularTN()">Calcular</button>';
    }

    function crearInputsEAtMinusEBt() {
        var inputContainer = document.getElementById("inputContainer");
        inputContainer.innerHTML = '<label for="valorA">Ingrese el valor de a:</label><input type="number" id="valorA" name="valorA" class="form-control" required oninput="actualizarVistaPrevia(\'{e^{at} - e^{bt}}/{a-b}\')"><label for="valorB">Ingrese el valor de b:</label><input type="number" id="valorB" name="valorB" class="form-control" required oninput="actualizarVistaPrevia(\'{e^{at} - e^{bt}}/{a-b}\')"><button type="button" class="btn btn-primary mt-2" onclick="calcularEAtMinusEBt()">Calcular</button>';
    }
    function crearInputsEBtsinhAt(){
        var inputContainer = document.getElementById("inputContainer");
        inputContainer.innerHTML = '<label for="valorB">Ingrese el valor de b:</label><input type="number" id="valorB" name="valorB" class="form-control" required oninput="actualizarVistaPrevia(\'e^{-bt}sinh(at)\')"><label for="valora">Ingrese el valor de a:</label><input type="number" id="valorA" name="valorA" class="form-control" required oninput="actualizarVistaPrevia(\'e^{-bt}sinh(at)\')"><button type="button" class="btn btn-primary mt-2" onclick="calcularEBtsinhAt()">Calcular</button>';   
    }


    function actualizarVistaPrevia(funcion) {
    var vistaPrevia = document.getElementById("vistaPrevia");
    var valorA = document.getElementById("valorA") ? document.getElementById("valorA").value : "";
    var valorK = document.getElementById("valorK") ? document.getElementById("valorK").value : document.getElementById("valorsenKt") ? document.getElementById("valorsenKt").value : "";
    var valorN = document.getElementById("valorN") ? document.getElementById("valorN").value : "";
    var valorB = document.getElementById("valorB") ? document.getElementById("valorB").value : "";

    if (funcion === 'sin(kt)') {
        vistaPrevia.innerHTML = '\\( \\sin(' + valorK + 't) \\)';
    } else if (funcion === 'sinh(kt)') {
        vistaPrevia.innerHTML = '\\( \\sinh(' + valorK + 't) \\)';
    } else if (funcion === 'e^{at}cosh(kt)') {
        vistaPrevia.innerHTML = '\\( e^{' + valorA + 't}\\cosh(' + valorK + 't) \\)';
    } else if (funcion === 't^n') {
        vistaPrevia.innerHTML = '\\( t^{' + valorN + '} \\)';
    } else if (funcion === '{e^{at} - e^{bt}}/{a-b}') {
        vistaPrevia.innerHTML = '\\( \\frac{e^{' + valorA + 't} - e^{' + valorB + 't}}{' + valorA + '-' + valorB + '} \\)';
    } else if (funcion === 'e^{-bt}sinh(at)') {
        vistaPrevia.innerHTML = '\\( e^{' + valorB + 't}\\sinh(' + valorA + 't) \\)';
    }

    MathJax.typeset();
}
    function calcularSenK() {
        var k = document.getElementById("valorK").value;
        var resultado = `\\( \\frac{${k}}{s^2 + ${k}^2} \\)`;
        document.getElementById("resultado").innerHTML = `Resultado para \\( \\sin(${k}t) \\): ${resultado}`;
        MathJax.typeset();
    }

    function calcularSenKt() {
        var k = document.getElementById("valorsenKt").value;
        var resultado = `\\( \\frac{${k}}{s^2 - ${k}^2} \\)`;
        document.getElementById("resultado").innerHTML = `Resultado para \\( \\sinh(${k}t) \\): ${resultado}`;
        MathJax.typeset();
    }

    function calcularEAtCoshKt() {
        var a = document.getElementById("valorA").value;
        var k = document.getElementById("valorK").value;
        var resultado = `\\( \\frac{s - ${a}}{(s - ${a})^2 + ${k}^2} \\)`;
        document.getElementById("resultado").innerHTML = `Resultado para \\( e^{${a}t}\\cosh(${k}t) \\): ${resultado}`;
        MathJax.typeset();
    }

    function calcularTN() {
        var n = document.getElementById("valorN").value;
        var resultado = `\\( \\frac{${n}!}{s^{${n}+1}} \\)`;
        document.getElementById("resultado").innerHTML = `Resultado para \\( t^{${n}} \\): ${resultado}`;
        MathJax.typeset();
    }

    function calcularEAtMinusEBt() {
        var a = document.getElementById("valorA").value;
        var b = document.getElementById("valorB").value;
        var resultado = `\\( \\frac{1}{(s-${a})(s-${b})} \\)`;
        document.getElementById("resultado").innerHTML = `Resultado para \\( \\frac{e^{${a}t} - e^{${b}t}}{${a} - ${b}} \\): ${resultado}`;
        MathJax.typeset();
    }
    function calcularEBtsinhAt(){
        var a = document.getElementById("valorA").value;
        var b = document.getElementById("valorB").value;
        var resultado = `\\( \\frac{s - ${b}}{(s - ${b})^2 + ${a}^2} \\)`;
        document.getElementById("resultado").innerHTML = `Resultado para \\( e^{${b}t}\\sinh(${a}t) \\): ${resultado}`;
        MathJax.typeset();
    }
  
</script>
{% endblock %}
