{% extends "layout.html" %}

{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{{ url_for('static', filename='js/calculadora_transformadas.js') }}"></script>

<div class="container shadow-none p-5 mb-5 bg-body-tertiary rounded" style="box-shadow: 0 0 20px 10px #ffffffee; background-color: rgba(84, 81, 77, 0.656);">
    <div class="img-thumbnail">
        <img src="{{ url_for('static', filename='image/laplace.jpg') }}" class="img-fluid">
        <p class="fs-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="container shadow-none p-5 mb-5 bg-body-tertiary rounded" style="box-shadow: 0 0 20px 10px #ffffffee; background-color: rgba(255, 250, 250, 0.979);">
        <div class="titulo">
            <h1>Formulario de las Transformadas de Laplace</h1>
        </div>
        <embed src="{{ url_for('static', filename='FORMULARIO.pdf') }}" type="application/pdf" width="100%" height="600px">
    </div>
    
    <div class="container shadow-none p-5 mb-5 bg-body-tertiary rounded" style="box-shadow: 0 0 20px 10px #ffffffee; background-color: rgba(255, 250, 250, 0.979);">
        <div class="titulo">
            <h1>Calculadora de Transformadas de Laplace</h1>
        </div>
        <div class="container text-center">
            <label for="funcion">Seleccione la función f(t) que quiere calcular: </label>
            <div class="botones">
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('1')">\( 1 \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('t')">\( t \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('t^2')">\( t^2 \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('t^n')">\( t^n \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('e^{at}')">\( e^{at} \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('\\cos(bt)')">\( \cos(bt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('\\sin(bt)')">\( \sin(bt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('\\sinh(bt)')">\( \sinh(bt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('\\cosh(bt)')">\( \cosh(bt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('e^{at} \\cos(bt)')">\( e^{at} \cos(bt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('e^{at} \\sin(bt)')">\( e^{at} \sin(bt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('\\delta(t - a)')">\( \delta(t - a) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('u(t - a)')">\( u(t - a) \)</button>
                <button type="button" class="btn btn-outline-secondary" style="background-color: red;"onclick="crearInputFuncion('\\frac{1}{t}')">\( \frac{1}{t} \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('t e^{at}')">\( t e^{at} \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('t^n e^{at}')">\( t^n e^{at} \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('sinh(at) \\cosh(bt)')">\( \sinh(at) \cosh(bt) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('cosh(at) \\sinh(bt)')">\( \cosh(at) \sinh(bt) \)</button>
                <button type="button" class="btn btn-outline-secondary" style="background-color: red;"onclick="crearInputFuncion('\\int_{0}^{t} f(\\tau) d\\tau')">\( \int_{0}^{t} f(\\tau) d\\tau \)</button>
                <button type="button" class="btn btn-outline-secondary" style="background-color: red;"onclick="crearInputFuncion('f\'(t)')">\( f'(t) \)</button>
                <button type="button" class="btn btn-outline-secondary" style="background-color: red;" onclick="crearInputFuncion('f\'\'(t)')">\( f''(t) \)</button>
                <button type="button" class="btn btn-outline-secondary" onclick="crearInputFuncion('e^{bt} t^n')">\( e^{bt} t^n \)</button>
                <button type="button" class="btn btn-outline-secondary"  onclick="crearInputFuncion('t \\sin(at)')">\( t \sin(at) \)</button>
                <button type="button" class="btn btn-outline-secondary"  onclick="crearInputFuncion('t \\cos(at)')">\( t \cos(at) \)</button>
                <button type="button" class="btn btn-outline-secondary"  onclick="crearInputFuncion('\\sin(at + b)')">\( \sin(at + b) \)</button>
                <button type="button" class="btn btn-outline-secondary"  onclick="crearInputFuncion('\\cos(at + b)')">\( \cos(at + b) \)</button>
            </div>
            <div class="container text-center" id="inputContainer"></div>
        </div>        
        <div class="flex-container p-3 m-5" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
            <div class="contenedor_igual_valor" style="width: 48%; margin-bottom: 20px;">
                <h2>Función</h2>
                <hr class="hr-divider">
                <div id="funcion" style="font-size: 1.5rem; padding: 10px;"></div>
            </div>
            <div class="contenedor_igual_valor" style="width: 48%; margin-bottom: 20px;">
                <h2>Transformada</h2>
                <hr class="hr-divider">
                <div id="transformada" style="font-size: 1.5rem; padding: 10px;"></div>
            </div>
            <div class="contenedor_entrada" style="width: 48%; margin-bottom: 20px;">
                <h2>Sustitución</h2>
                <hr class="hr-divider">
                <div id="sustitucion" style="font-size: 1.5rem; padding: 10px;"></div>
            </div>
            <div class="contenedor_igual_valor" style="width: 48%; margin-bottom: 20px;">
                <h2>Resultado</h2>
                <hr class="hr-divider">
                <div id="resultado" style="font-size: 1.5rem; padding: 10px;"></div>
            </div>
        </div>
    </div>
    
{% endblock %} 
